# Load environment variables from .env if it exists
if [ -f .env ]; then
  set -a
  source .env
  set +a
fi

export PYTHONPATH=.
export VENV_DIR="venv"
export PROD_LOCK="requirements.txt"
export DEV_LOCK="requirements-dev.txt"
export PYPROJECT="pyproject.toml"

# Set a virtualenv automatically if venv exists
if [ -d "$VENV_DIR" ]; then
  source $VENV_DIR/bin/activate
fi

