# Load env vars from docker/.env if present
if [ -f docker/.env ]; then
  set -a
  source docker/.env
  set +a
fi

# Load env vars from docker/.env.prod if present
if [ -f docker/.env.email ]; then
  set -a
  source docker/.env.email
  set +a
fi

export PYTHONPATH=.
export VENV_DIR="venv"
export PYPROJECT="pyproject.toml"
export UV_PROJECT_ENVIRONMENT="$VENV_DIR"

# Activate venv if present
if [ -d "$VENV_DIR" ]; then
  source "$VENV_DIR/bin/activate"
fi
